
body{
	margin:0;
	padding:0px;
	font-family:'Myriad Pro'; 
	background: #fff; 
    letter-spacing:0.2px;	
	    font-size: 15px;
		line-height: 24px;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none !important;
	outline:none;
}
@font-face {
    font-family:'Gujarati_Heading';
    src: url(../fonts/Guj_Head_ship.ttf);
	src: url(../fonts/Guj_Head_ship.eot);
}
@font-face{font-family:"shruti-Regular";src:url("../fonts/shruti.ttf");}
@font-face{font-family:"gujlekha";src:url("../fonts/GujLekha_1.ttf");}
@font-face{font-family:"calibri";src:url("../fonts/calibri.ttf");}

@font-face{font-family:"gujlekha";src:url("../fonts/GujLekha_1.ttf");}
@font-face {
    font-family:'Gujarati_Intro',Arial,Helvetica,sans-serif;
    src: url(../fonts/Guj_Intro_ship.ttf);
	src: url(../fonts/Guj_Intro_ship.eot);
}
body a:hover, body a h3:hover {color:#e9a20a;}
h1,h2,h3,h4,h5,h6{ 
	font-family:"gujlekha" !important;font-weight: normal !important;
}
p{
	margin:0 0px 15px;
	color: #727272;    font-size: 13px;
	font-family: "gujlekha" !important;font-weight: normal !important;
}
img {max-width:100%; }
.clear {clear:both;}
.container {border:0px solid red;padding:0px;}
.top-header {background:#fff;box-shadow:0px 18px 20px -20px #333;  padding: 9px 0px 1px;}
.e-paper{float:left;margin:0px 8px 0px 0px;}
.date-time {float:right;margin:0px 20px 0px 0px;font-size:16px;color:#434343;    letter-spacing: 1px;}
.date-time p {margin:0px;}
.search-box {float:left;}
.search-box input[type="text"] {
    height:24px;
    background:url(../images/search-icon.png) 65% 34% no-repeat;
    width: 45%;
    padding: 0px 14px;
    font-size: 0px;
    border: 0px;
	outline:0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all; 
}
.search-box input[type="text"]:focus {
   height:27px;	
    background: url(../images/search.png) 65% 29% no-repeat;
    width:100%; 
    padding: 0px 14px;
    opacity:1;
    font-size:16px;  
    border:1px solid #ccc;
	border-radius:4px;
}
a {
    color: #333;
    text-decoration: none;
}
.social{float:right;}
.logo-header {margin:10px 0px;}
.logo-header .logo {padding:0px 15px;float:left;width:44%;}
.logo-header .adv1 {padding:11px 0px 0px;float:left;width:29%;}
.logo-header .adv2 {padding:11px 0px 0px;float:left;width:27%;}
.logo-header .logo img{width:100%;}
.logo-header .adv2 img{width:100%;height:98px;}
.logo-header .adv1 img{width:100%;height:98px;}
.navbar-inverse {background-color: #434343 !important;min-height: auto; border-radius: 0px;border:0;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav a:focus, .navbar-inverse .navbar-nav a:hover {
    color: #fff;
    background-color: #fdb813 !important;
}
.home-menu a{padding:11px 14px !important;}
.navbar-inverse .navbar-nav>li>a{ color: #fff;font-size:16px;padding:11px 24.8px;}
.navbar-inverse .navbar-nav>li {border-right:1px solid #666;}
#myCarousel .carousel-inner .item img {width:100%;height:429px;}
.carousel-inner .item {margin:0px;}
.news-b {position: relative;margin:0px 0px 0px;}
.news-b a {text-decoration: none;}
.news-b img {width: 100%; border:1px solid #eee;}
.news-b h3 { 
    position: absolute;
    left:0px;
    right:0px;
    margin: 0;
    height: auto;
    padding: 33% 0.75rem 0.95rem 0.95rem;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr=#00000000, endColorStr=#DD000000);
    background-color: transparent;
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,0.8));
    background-image: linear-gradient(transparent,rgba(0,0,0,0.8));
    background-position-y: -1px;
    bottom: -1px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}
.news-b:hover a > h3 {
	background-image: linear-gradient(transparent,rgba(0,0,0,0.0));
}
.sec-part1-left {padding-left:0px;width:69%;}
.sec-part1-right {padding-right:0px;padding-left:0px;width:31%;}
.sec-part1-right .news-b img {width: 100%;height:123px; }
.sec-part1-right .news-b   {margin:10px 0px 5px;}
.left-part {float:left;width:71.666667%;}
.right-part{float:right;padding: 0px;width: 27.333333%;}
.currency-rate-widget {margin-bottom:10px;}
.adv4 {width:100%; margin-top: 4px;}
.adv4 img  {width:100%;height:70px;}
.adv5{width:100%;margin-top: 32px;}
.adv5 img  {width:100%;height:409px;}
.adv6{width:100%;padding:15px 15px;}
.adv6 img  {width:100%; }
.main-title {display: inline-block;font-size:21px;font-weight:400;padding: 5px 13px;margin: 0px 0px 0px;color:#fff;background:#333;}
.main-title-border  {background:#000;width:100%;height:2px;display: block;    margin-bottom: 5px;}
.green {color:#fff;background:#0fa94b;}
.green-border  {background:#0fa94b;width:100%;height:2px;display: block;    margin-bottom: 5px;}
.dark-blue {color:#fff;background:#2b2f84;}
.dark-blue-border  {background:#2b2f84;width:100%;height:2px;display: block;    margin-bottom: 5px;}
.violet {color:#fff;background:#0dd4e5;}
.violet-border  {background:#0dd4e5;width:100%;height:2px;display: block;    margin-bottom: 5px;}
.black {color:#fff;background:#000;}
.black-border  {background:#000;width:100%;height:2px;display: block;    margin-bottom: 5px;}
.pink {color:#fff;background:#d104ca;}
.pink-border  {background:#d104ca;width:100%;height:2px;display: block;    margin-bottom: 5px;}
.yellow {color:#fff;background:#e9a20a;}
.yellow-border  {background:#e9a20a;width:100%;height:2px;display: block;    margin-bottom: 5px;}
.red {color:#fff;background:#cf273e;}
.red-border  {background:#cf273e;width:100%;height:2px;display: block;    margin-bottom: 5px;}
.magenta-blue {color:#fff;background:#2b2f84;}
.magenta-blue-border  {background:#2b2f84;width:100%;height:2px;display: block;    margin-bottom: 5px;}
.sec-part2 {margin:15px 0px;}
.sec-part2 .news-b img {width: 100%;height:262px; } 
.grid-listing-left{float:left;margin:0px;width: 50%;}
.grid-listing {overflow:hidden;padding:5px 0px;}
.grid-listing img {width:85px;height:80px;float:left;}
.grid-listing h3 {width:72%;float:left; font-weight: bold;padding:10px;color: #000;font-size: 15px;margin: 2px 0px 0px;line-height: 24px;}

.sec-part3 {}
.sec-part3 .col-md-6{padding:0px 0px 0px 0px;width: 49%;margin:5px 0px 0px 0px;}
.sec-part3 .col-md-6:nth-child(2n){padding:0px 0px 0px 0px;margin:5px 15px 0px 0px;}
.right-part .grid-listing {border-bottom: 1px solid #eee;padding: 9px 0px;}
.right-part .grid-listing h3 {width:71%;float:left;  font-weight: bold;padding:10px; font-size: 15px;margin: 2px 0px 0px;line-height: 24px;}
ul.list {margin:15px 0px;padding:0px 15px;}
ul.list li{margin:15px 0px;padding:0px 0px;}
ul.list li a{    font-weight: bold;font-family: "gujlekha" !important;font-weight: normal !important;}

.sec-part4 {margin:0px 0px 25px;}
.gray-bg {background:#ececec;padding:0px 10px !important;}
#gujmyCarousel .carousel-inner .item img {width: 100%;height: 396px;}
.sec-part4 .grid-listing {border-bottom: 1px solid #ccc;padding: 9px 0px;}
.grid-listing:last-child, .right-part .grid-listing:last-child {border-bottom:0px !important;}
.sec-part4 .col-md-6:nth-child(2n){margin:5px 15px 0px 0px;}
.sec-part4 .col-md-6{padding:0px 0px 0px 0px;width: 49%;margin:5px 0px 0px 0px;}
.sec-part5 {margin:0px 0px 20px;}
.sec-part5 .left-part .news-b {float:left; width: 28.7%;margin:0px 0px 10px 10px;}
.sec-part5 .left-part .news-b img {height:132px;}
.sec-part5 .left-part .first-news-b {float:left;width:40% !important;margin:0px 0px 10px 0px;}
.sec-part5 .left-part .first-news-b img {height:274px;}
#videomyCarousel .carousel-inner .item img {width: 100%;height:274px;}
#videomyCarousel .carousel-inner .item iframe {width: 100%;height:274px;}

#bollymyCarousel .carousel-inner {height: 455px;}
#bollymyCarousel .carousel-inner .item img {width: 100%; height: 455px;}
.right-part .gray-bg { padding: 0px 10px !important;border-bottom: 1px solid #ccc;}
.right-part .gray-bg .grid-listing{border-bottom: 1px solid #ccc;padding:13px 0px;}
.right-part .gray-bg .grid-listing h3{padding: 0px 0px 10px 10px;width: 69%;}

.column {margin:20px 0px 0px;}
.column .column-b {width:33.3%;float:left;padding: 0px 8px;margin: 0px 0px 0px 0px;}
.column .column-b:last-child {margin:0px;}
.column .column-b img {width:100%;height:180px;}
.column .column-b h3 { font-weight: bold;padding:5px 0px; margin: 2px 0px;font-size: 16px;line-height: 24px;}
.column .row {margin-right: -8px;margin-left: -8px;}

.footer {background:#003d76;margin:15px 0px 0px;padding-top:15px;}
.footer-col{float:left;width:16.5%;padding: 0px 11px 10px;}
.footer-col h2 {margin:0px 0px 15px;border-bottom:1px solid #2971b5;padding-bottom:4px;}
.footer-col h2 a{color:#fff;font-size:20px;}
.footer-col ul {margin:0px;padding:0px;}
.footer-col ul li {list-style:none;margin:0px;padding:0px 0px 4px;}
.footer-col ul li a {color:#dcdcdc;font-size: 14px;display: block;font-family: "gujlekha" !important;font-weight: normal !important;}
.footer-col ul li a:hover {color:#e9a20a;}
.middle-footer ul{color:#dcdcdc;border-top: 1px solid #114f8a;margin:0px auto;padding:0px 0px 0px;display: table;width: 47%;text-align: center;}
.middle-footer ul li {list-style:none;display: inline-block;margin:0px;padding: 9px 10px 9px;}
.middle-footer ul li a {color:#dcdcdc;font-size: 14px;display: block;}
.middle-footer ul li a:hover {color:#fff;}
.copy {background:#e5e5e5;padding:5px 10px;color:#000;}
.copy-left {float:left;width:45%;}
.copy-right {float:right;width:45%;text-align:right;}
#listmyCarousel .carousel-inner .item img {height:336px;width: 100%;}
.listing-part .left-part {border: 1px solid #e0e0e0;padding:15px 0px;box-shadow: 2px -9px 19px -17px #333;}
.list-dec h3 {line-height: 34px;font-size: 21px;margin: 0px 0px 11px;font-weight: bold;}
.list-dec p {line-height:26px;}
.cat-list-grid {margin:15px 0px 25px;}
.cat-listing{margin:25px 0px 0px;padding:0px 6px;clear: both;}
.cat-listing .column-b {margin:0px 0px 10px;padding:0px 6px;}

.listing-part{background: #eee;padding: 21px 0px;}
.listing-part .left-part {background: #fff;    width: 70.6%;}
.listing-part .right-part, .details-listing-part .right-part {background: #fff;padding: 5px 6px;width: 28.333333%;}

#innermyCarousel .carousel-inner .item img {height:447px;width: 100%;}
.details-listing-part .left-part {background: #fff;width: 70.6%;}
.details-listing-part{background: #eee;padding: 21px 0px;}
.inner-list-dec {padding:15px;line-height: 25px;}
.inner-list-dec h1{font-size:23px;line-height: 36px; color: #000;font-weight: bold;margin: 0px 0px 9px;}
.breadcrumb {margin: 0px;font-size: 13px;font-family: "gujlekha" !important;font-weight: normal !important;}
.br-arrow {padding: 0px 4px;}
.breadcrumb a {color: #e9a20a;}
.carousel-control {width: 9% !important;}
.inner-title {color:#e9a20a !important;}
.inner-page  {padding:15px 0px;line-height: 25px;}
.inner-page p {font-family: 'Myriad Pro' !important;font-size: 14px;}
.inner-page h1{font-size:25px;line-height: 36px; color: #000;font-weight: bold;margin: 0px 0px 9px;}
.stButton .stButton_gradient {height: 23px !important;}
#contact_form .form-control {
    background: #f1f1f1;
    border: none;
    box-shadow: none;
    border-radius: 2px;
    padding: 10px 15px;
    height: auto;
	display: block;
    width: 100%;
    color: #444;
    margin: 10px 0;
}
#contact_form .form-btn {
    display: block;
    background:#e9a20a;
    color: #FFF;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin: 8px 0 0 0;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
#contact_form .form-btn:hover {
    background: #323232;
    color: #FFF;
}
.contact-form {width:65%;float:left;}
.contact-location {letter-spacing:0.5px;width:32%;float:left;border: 1px solid #eee;margin: 0px 6px;padding: 20px;border-radius: 5px;box-shadow:-7px 0px 27px -16px #333; border-right:2px solid #e9a20a !important;}
.contact-location h2 {margin:0px 0px 18px;font-size: 26px;}
.contact-location h3 {margin:0px 0px 3px;font-size:16px;font-weight:bold;}
.contact-location p{font-size:14px;line-height: 18px;}
.map {margin:25px 0px 0px;}